.container {
    display: flex;
    flex-direction: column;
}

.products {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    flex-basis: 0;
}

.navigation {
    display: flex;
    background-color: #ff7f50;
    min-height: 200px;
    flex-grow: 1;
    flex-basis: 0;
}
.products-list {
    display: flex;
    background-color: #006400;
    min-height: 200px;
    flex-grow: 1;
    flex-basis: 0;
}
.news {
    display: flex;
    background-color: #0ff;
    min-height: 200px;
    flex-grow: 1;
    flex-basis: 0;
}

@media screen and (min-width:600px) {
    .products {
        display: flex;
        flex-direction: row;
    }
}

@media screen and (min-width:900px) {
    .container {
        flex-direction: row;
    }
    .products {
        flex: 2;
    }
}

span {
    font-family: Verdana;
    margin: auto;
    padding: 8px;
    border-radius: 4px;
    background-color: #faebd7;
    text-transform: lowercase;
  }